{% extends "layout.html" %}
{% block content %}
    <div class content section>

    <h1>Autorky projektu</h1>
</br>
</br>
<h2>Mgr. Ing. Martina Burjanová</h2>
<img align="right" src="static/face.jpg" alt="Martina Burjanová" width="300">
<p>Jsem vzděláním makroekonomická analytička a politoložka. Čtyři roky jsem byla místostarostka
malé obce, založila jsem dětskou skupinu, pomáhala jsem marketingovou kampaní jedné lesní
školce a jsem ráda, že všechno to, co jsem se o různých školkách dozvěděla, jsem mohla přetvořit
do něčeho užitečného, tj. tohoto webu pro rodiče.</p>
<p></p>
<p>Na Vysoké škole ekonomické jsem zaměstnávala šedou kůru mozkovou statistikou a ekonometrií.
V Digitální akademii jsme se toho spousta naučily a vyzkoušely a já budu ráda pokračovat s Pythonem,
SQL nebo Power BI v nové práci. Dělat webové stránky je moje hobby a doufám, že je to na tomto webu vidět.</p>
<p>Mluvím plynně anglicky a nizozemsky.</p>
<p><a href="https://www.linkedin.com/in/burjanova/">Profil na LinkedIn</a></p>
<p><a href="https://github.com/mbrezina">Profil na GitHub</a></p>

</br>
<h2>Lenka Kovačová</h2>
<img align="right" src="static/lenka.png" alt="Lenka Kovačová" width="300"><p>Jsem duší kreativní člověk, který si
užívá výzvy a řešení problémů. Už během základní školy jsem si ve volném čase pohrávala
s webovým designem. Vytvářela jsem webové stránky pro své známé a kamarády. Pokračovalo
to online kurzy na HTML, CSS a Javascript. Později jsem ve snaze naučit se něco nového
zkusila i Python a Bash. </p> <p>Během studia vysoké školy jsem přišla do styku se statistikou,
to u mne probudilo zvědavost a chuť se vzdělávat dále v oblasti datové analytiky.
Mým přáním bylo stát se součástí kolektivu stejně nadšených lidí a získat nové kontakty,
od kterých bych se mohla dále učit, proměnit svůj koníček v profesi. To mne přivedlo na
kurz Czechitas. Ráda pracuji s Pythonem, je intuitivní. </p> <p>V současnosti bych ráda k Pythonu
přidala další dovednosti, Django nebo Javu či C/C++Tři roky jsem žila v Anglii,
kde jsem jako Store Manager měla příležitost vést svůj vlastní tým. Ve volném času ráda chodím
na procházky se svým psem Floydem. Od malička ráda luštím kryptogramy a šifry. Jsem
nadšená sportovkyně, dělala jsem box a krav magu. V současnosti se věnuji pole dance.
Jsem vášnivý knihomol, nejraději čtu klasickou literaturu a sci-fi.</p>
<p><a href="https://www.linkedin.com/in/lenka-kovačová/">Profil na LinkedIn</a></p>

<div style="float: right; width: 100%"><p>
</p>
<p>

<p></p>


</div>
</br>
</br>


    </div>

{% endblock content %}