{% extends "layout.html" %}
{% block content %}
<div class content section>

    <h1>Naprogramovala</h1>

    <h2>Mgr. Ing. Martina Burjanová</h2>
    <img align="right" src="static/face.jpg" alt="Martina Burjanová" width="300">
    <p>V IT jsem rok a půl, dělám automatické testy frontendu a backendu. Začala jsem s Pythonem, ale webové aplikace
        teď dělám ve Springu v Javě. Mám ráda weby a databáze a doufám, že je to na tomto webu vidět.</p>
    <p>Jsem vzděláním makroekonomická analytička a politoložka. Na Vysoké škole ekonomické jsem zaměstnávala šedou kůru
        mozkovou statistikou a ekonometrií. Čtyři roky jsem byla místostarostka
        malé obce, založila jsem dětskou skupinu, pomáhala jsem marketingovou kampaní jedné lesní
        školce a jsem ráda, že všechno to, co jsem se o různých školkách dozvěděla, jsem mohla přetvořit
        do něčeho užitečného, tj. tohoto webu pro rodiče.</p>
    <p>Mluvím plynně anglicky a nizozemsky.</p>
    <p><a href="https://www.linkedin.com/in/burjanova/">Profil na LinkedIn</a></p>
    <p><a href="https://github.com/mbrezina">Profil na GitHub</a></p>

    </br>
    <div style="float: right; width: 100%">
    </div>
    </br>

</div>

{% endblock content %}
