{% extends "layout.html" %}
{% block content %}
<div class content section>

<h1>Czech non-traditional kindergardens</h1>

<p>If your child is younger that 3 years it may be quite difficult to find a suitable kindergarden. Most "mateřská škola"
(which is the most common type of kindergarden in the Czech Republic) do not take any children younger than 3 years. Beside
the age you may have other reasons why you search for a kindergarden with smaller groups of children, with more individual
care and with some special activities.</p>
<p>In the Czech Republic there are several types of non-traditional kindergardens. They provide only 3% of total capacity
of Czech kindergardens but they are for younger children and they care more for each individual child because the class
size is smaller. There are 4 types:

<b><li>"Lesní školky" = forest kindergardens</li>
<li>"Lesní kluby" = forest clubs</li>
<li>"Dětské skupiny" = children´s groups</li>
<li>"Mikrojesle" = micro creche</li></b>
    </br>
<p><b>"Lesní školky"</b>, <b>"dětské skupiny"</b> and <b>"mikrojesle"</b> are official types of Czech preschool education. The data on the organizations
providing this type of care come from official state registers. The registers are separated, it is not possible to search in
all types of non-traditional kindergardens on single website. <b>"Lesní kluby"</b> are not an official type of preschool education.
However this type of organizations provides also preschool care. Since 2017 forest kindergardens were allowed to join the
official system of Czech education and are called <b>"lesní mateřské školy"</b> or <b>"lesní školky"</b>. Such kindergardens had to fulfill certain
legal rules and more than half of them decided not to do it, they are called "lesní kluby" and they are in fact kindergardens.
Therefore we included also <b>"lesní kluby"</b> in our map and on this website you can find all types of non-tradional kindergardens.</p>
<p>Details about each type of them are under the map.</p>
</br>
<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNzkyN2NlYWItZmY0MS00OGIxLWI0NGEtMjU1OTA4YTMxNGExIiwidCI6ImJmZmNlYWU2LTM2ZDMtNGU4OS1iMzA4LWZiYzE3YjBkNDRlZCIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>



<h2>„Mateřská škola“ - Nursery school</h2>
<p>Nursery school is registered at Register of Schools and Schools Facilities of the Ministry of Education. Education in nursery school is
organised for children of the age from 3 to 7 years. Unvaccinated kids are not allowed to join the nursery school. Pre-school year is mandatory. In case that parents do not
want their children to go to the nursery school the nursery school has to  approve an individual learning programme. It is the municipality that
founds nursery schools. A number of nursery schools have been established by private entities, NGOs and churches.</p>

<h2>„Lesní školka" - Forest nursery school</h2>
<p>Forest nursery school is registered at Register of Schools and Schools Facilities. Forest nursery school is an alternative to pre-school
education recognized by state. It has an environmental programme. Forest nursery schools get state subsidy but parents pay part of costs as well.
Forest nursery school is organised for approximately 12 - 15 children in a class with a special , children usually spend much time outdoors.
Pre-school children can attend the compulsory school year there. There are lower hygienic standards in comparison to usual nursery schools
since forest schools are based in caravans or yurts.</p>

<h2>„Lesní klub“ - Forest club</h2>
<p>Forest club is in fact a kindergarden providing environmnental programme as the forest nursery school. However it is not registered at
Register of Schools and Schools Facilities. Forest club is organized for 12 - 15 children in a class of the age from almost 3 to 7 years.
Children who are obliged to spend the last pre-school year in a nursery school may
attend the forest club in case that they have an approved individual learning programme from a nursery school. Parents pay mostly all costs of the forrest club.</p>

<h2>„Dětská skupina" - Children´s group</h2>
<p>Children´s group is organized for vaccinated children of the age from 1 or 2 to 7 years (it depends on the decision of the leader of the
organization). There are usualy twelve children in a class. Children´s group receives a subsidy from the EU. Parents pay part of costs as well.</p>

<h2>„Mikrojesle" - Micro creche</h2>
<p>Micro creche is organized for max four children of the age from six months to 4 years. There is vaccination required. Micro creche
receives subsidy from the EU and also parents pay part of costs.</p>


<p><b>For more complex information on non-traditional kindergardens see the site <a href = http://martiik.pythonanywhere.com/projekt>Projekt</a> in Czech and use Google Translate :-).</b></p>

<img src="static/jarka.jpg" alt="lesní školka Lesinka" style="width:100%;" >

</div>

{% endblock content %}