{% extends "layout.html" %}
{% block content %}
    <div class content section>

      <h2>Hledáte školku pro své dítě?</h2>
      <p>Hledáte individuální přístup? Je Vašemu dítěti méně než 3 roky? Nevzali Vaše dítě do obecní školky, protože nemá dostatečnou kapacitu? Pak jste tu správně. Na naší mapě naleznete:</p>

         <b><li>Lesní školky</li>
         <li>Lesní kluby</li>
         <li>Dětské skupiny</li>
         <li>Mikrojesle</li></b>
    </br>
    <p>Všechny tyto další typy školek mají menší třídy, individuální péči, jsou i pro menší děti a jsou alternativou k předškolnímu vzdělávání
    v mateřské škole. Podrobné informace o jednotlivých typech předškolní péče naleznete pod mapou.</p>
    <p>Klepnutím na mapu ji můžete přiblížit, najít oblast, která Vás zajímá, a vyhledat netradiční školky. Najetím přes barevný puntík se
    Vám zobrazí název, adresa, kapacita a typ netradiční školky.</p>
        <p>Data na tomto webu pocházejí z oficiálních rejstříků Ministerstva školství mládeže a tělovýchovy a Ministerstva práce a sociálních věcí,
    dále pak z Asociace lesních školek.</p>
    <p><b>ENGLISH SPEAKERS</b> For information about kindergardens available in the Czech Republic have a look at the page <a href="/english">English</a>.</p>

<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiODBhMWM0YjktMWQyMy00NTZlLWI5NWItMGZhMTYyNjU3ZmRhIiwidCI6ImJmZmNlYWU2LTM2ZDMtNGU4OS1iMzA4LWZiYzE3YjBkNDRlZCIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>


    <h2 id="materska_skola"> Mateřská škola </h2>

     <p>Je zapsaná v rejstříku škol a školských zařízení MŠMT. Jsou v ní děti ve věku 3-7 let, nebere neočkované děti, podává speciální dietu pouze v případě,
     že má nutričního terapeuta, předškolní rok je povinný, případně schvaluje individuální vzdělávací plán dětí, jejichž rodiče nechtějí, aby předškolní dítě
     chodilo do mateřské školy. Zřizovatelem mateřské školy je většinou obec, ale může ji provozovat i soukromá firma nebo spolek. to jsou školky, které se
     po splnění podmínek přihlásily do rejstříku MŠMT (lesní školky, které nechtěly vstoupit do rejstříku se nazývají lesní kluby).</li>

    <h2 id="lesni_skolka"> Lesní školka </h2>
    <p>Lesní mateřská škola je zapsaná v rejstříku MŠMT, je to státem uznaná alternativa předškolního vzdělávání. Dostávají dotaci od státu, mají
    environmentální program, děti tráví většinu času v přírodě, 15 dětí ve třídě. Předškoláci zde mohou plnit povinný rok ve školce. Platí pro ni jiné
    hygienické normy než pro mateřskou školu, zázemí mají v jurtě, maringotce apod. </p>

    <h2 id="lesni_klub"> Lesní klub </h2>
    <p>Lesní klub je školka s environmentálním programem, která není v rejstříku MŠMT. Mohou podávat i dietní stravu, pokud to zázemí dovolí.
    Pro děti ve věku 2 - 7 let, obvykle 15 dětí ve třídě. Předškoláci do lesního klubu mohou chodit, když si vyřídí individuální vzdělávací plán
    ve spádové mateřské škole, kam pak přijdou na přezkoušení.
    </p>
    <h2 id="detska_skupina"> Dětská skupina</h2>
    <p>Dětská skupina je pro děti od jednoho nebo dvou let až do sedmi let (záleží na rozhodnutí dětské skupiny), pouze pro děti očkované podle očkovacího
    kalendáře, typicky třída do 12 dětí. Dostávají dotace z MŠMT/ EU, na provoz přispívají i rodiče.
    </p>
    <h2 id="mikrojesle"> Mikrojesle </h2>
    <p>Mikrojesle jsou pro děti ve věku od půl roku do čtyř let, ve třídě maximálně 4 děti, pouze pro očkované děti. Dostávají dotace z MŠMT/ EU,
    na provoz přispívají i rodiče.

    </p>


    </br>
    </br>
    <img src="static/0014.jpg" alt="lesní školka Lesinka" style="width:100%;"  >

   </div>
{% endblock content %}